<h1><%= t('.page_title') %></h1>
<p class="lead">
	<%= t('.page_subtitle') %>
</p>

<div id="user_cart" class="blur">
	<%= render partial: 'user_cart', locals: {user_cart: @user_cart} %>
</div>

<div class="alert alert-error" style="display: none">
	<p id="alert">
		<strong>Alert </strong>quantity must be a number greater than 0
	</p>
</div>

