<h1><%= t('.new_order') %></h1>

<div class="depot_form form-horizontal well">
	<fieldset>
		<legend><%= t('.legend') %></legend>
		<%= render 'form' %>
	</fieldset>
</div>

<%= link_to 'Back', store_url %>
